<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>多选下拉</title>
		<link href="../../../component/layui/css/layui.css" rel="stylesheet" />
		<link href="../../../admin/css/pearSelect.css" rel="stylesheet" />
		<style>
			body {
				margin: 10px;
				background-color: whitesmoke;
			}

			select {
				margin: 30px;
				margin-top: 40px;
			}
		</style>
	</head>
	<body>

		<div class="layui-card">
			<div class="layui-card-header">

			</div>

			<div class="layui-card-body">

				<select name="city4" xm-select="select4" xm-select-skin="default">
					<option value="1">北京</option>
					<option value="2" selected="selected">上海</option>
					<option value="3">广州</option>
					<option value="4" selected="selected">深圳</option>
					<option value="5">天津</option>
				</select>
			</div>

		</div>

		<div class="layui-card">
			<div class="layui-card-header">

			</div>

			<div class="layui-card-body">
				<select name="city1" xm-select="select1">
					<option value="1">北京</option>
					<option value="2" selected="selected">上海</option>
					<option value="3">广州</option>
					<option value="4" selected="selected">深圳</option>
					<option value="5">天津</option>
				</select>
			</div>

		</div>

		<div class="layui-card">
			<div class="layui-card-header">

			</div>

			<div class="layui-card-body">
				<select name="city2" xm-select="select2" xm-select-skin="normal">
					<option value="1">北京</option>
					<option value="2" selected="selected">上海</option>
					<option value="3">广州</option>
					<option value="4" selected="selected">深圳</option>
					<option value="5">天津</option>
				</select>
			</div>

		</div>

		<div class="layui-card">
			<div class="layui-card-header">

			</div>

			<div class="layui-card-body">

				<select name="city3" xm-select="select3" xm-select-skin="warm">
					<option value="1">北京</option>
					<option value="2" selected="selected">上海</option>
					<option value="3">广州</option>
					<option value="4" selected="selected">深圳</option>
					<option value="5">天津</option>
				</select>
			</div>

		</div>

		<div class="layui-card">
			<div class="layui-card-header">

			</div>

			<div class="layui-card-body">

				<select name="city4" xm-select="select4" xm-select-skin="danger">
					<option value="1">北京</option>
					<option value="2" selected="selected">上海</option>
					<option value="3">广州</option>
					<option value="4" selected="selected">深圳</option>
					<option value="5">天津</option>
				</select>
			</div>
		</div>
		<script src="../../../component/layui/layui.js"></script>
		<script>
			//JavaScript代码区域
			layui.use(['formSelects', 'code'], function() {
				var formSelects = layui.formSelects;

				layui.code()
			});
		</script>
	</body>

</html>
