/** 基 础 布 局 */
.pear-admin .layui-header,
.pear-admin .layui-body,
.pear-admin .pear-logo,
.pear-admin .layui-side,
.pear-admin .layui-footer {
	transition: all .3s;
}
.pear-logo {
	width: 220px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #5FB878;
	background-color: #28333E;
	font-size: 17px;
	font-weight: 600;
}
.layui-header {
	left: 220px;
	background-color: white !important;
	padding: 0px;
	width: calc(100% - 220px);
}
.layui-header * {
	color: black !important;
}

.pear-logo img{
	display: none;
}

.layui-layout-admin .layui-side {
	top: 0px;
	width: 220px;
	box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
	z-index: 9999;
}

.layui-side::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.layui-body {
	left: 220px;
}

.layui-footer {
	left: 220px;
}

/** 顶 部 样 式 */
.layui-header .layui-nav .layui-nav-bar {
	top: 0px !important;
	height: 2px !important;
	background-color: #5FB878;
}

.layui-header .layui-nav .layui-this:after {
	display: none;
}

/** 隐 藏 布 局 样 式 */
.pear-mini .layui-side {
	width: 60px;
}

.pear-mini .layui-header {
	left: 60px;
	width: calc(100% - 60px);
}

.pear-mini .layui-body {
	left: 60px;
}

.pear-mini .pear-logo {
	width: 60px;
}

.pear-mini .layui-nav-tree .layui-nav-item span {
	display: none;
}

.pear-mini .bottom-nav li {
	width: 100% !important;
}

.pear-mini .layui-side-scroll {
	height: calc(100% - 60px);
}

.pear-mini .layui-footer {
	left: 60px;
}
.pear-mini .pear-logo span{
	display: none!important;
}
.pear-mini .pear-logo img{
	display: inline-block!important;
}

/** 主 题 样 式 */

/** 向 右 打 开 */