<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../../component/layui/css/layui.css" />
		<link rel="stylesheet" href="../../../admin/css/pearButton.css"/>
		<style>
			.pear-container {
				margin: 10px;
				background-color: whitesmoke;
			}

			.layui-card {
				height: 200px;
			}
		</style>
	</head>
	<body class="pear-container">




		<div class="layui-row layui-col-space10">
			<div class="layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header">
						简单使用
					</div>
					<div class="layui-card-body">
						<button class="layui-btn">默认按钮</button>
						<button class="layui-btn layui-btn-primary">主题按钮</button>
						<button class="layui-btn layui-btn-danger">危险按钮</button>
						<button class="layui-btn layui-btn-warm">警告按钮</button>
						<br>
						<br>
						<button class="layui-btn layui-btn-radius">默认按钮</button>
						<button class="layui-btn layui-btn-primary layui-btn-radius">主题按钮</button>
						<button class="layui-btn layui-btn-danger layui-btn-radius">危险按钮</button>
						<button class="layui-btn layui-btn-warm layui-btn-radius">警告按钮</button>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header">
						按钮大小
					</div>
					<div class="layui-card-body">
						<button class="pear-btn pear-btn-primary pear-btn-lg"> Button-Lg</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-primary"> Button-Default</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-primary pear-btn-sm"> Button-Sm</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-primary pear-btn-xs"> Button-Xs</button>&nbsp;&nbsp;
						<br>
						<br>
						<button class="pear-btn pear-btn-warming pear-btn-lg"> Button-Lg</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-warming"> Button-Default</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-warming pear-btn-sm"> Button-Sm</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-warming pear-btn-xs"> Button-Xs</button>&nbsp;&nbsp;
					</div>
				</div>
			</div>
		</div>

		<div class="layui-row layui-col-space10">
			<div class="layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header">
						简单使用
					</div>
					<div class="layui-card-body">
						<button class="pear-btn">Default Button</button>&nbsp;&nbsp;
						<button class="pear-btn" dashed>Dashed Button</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-primary">Primary Button</button>&nbsp;&nbsp;
						<br>
						<br>
						<button class="pear-btn pear-btn-primary"> Button-Primary</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-success"> Button-Success</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-danger"> Button-danger</button>&nbsp;&nbsp;
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header">
						按钮大小
					</div>
					<div class="layui-card-body">
						<button class="pear-btn pear-btn-primary pear-btn-lg"> Button-Lg</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-primary"> Button-Default</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-primary pear-btn-sm"> Button-Sm</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-primary pear-btn-xs"> Button-Xs</button>&nbsp;&nbsp;
						<br>
						<br>
						<button class="pear-btn pear-btn-warming pear-btn-lg"> Button-Lg</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-warming"> Button-Default</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-warming pear-btn-sm"> Button-Sm</button>&nbsp;&nbsp;
						<button class="pear-btn pear-btn-warming pear-btn-xs"> Button-Xs</button>&nbsp;&nbsp;
					</div>
				</div>
			</div>
		</div>

		<div class="layui-row layui-col-space10">
			<div class="layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header">
						按钮组
					</div>
					<div class="layui-card-body">
						<div class="pear-btn-group">
							<button class="pear-btn pear-btn-primary" round> Button-One</button>
							<button class="pear-btn pear-btn-primary" round> Button-Two</button>
							<button class="pear-btn pear-btn-primary" round> Button-Three</button>
						</div>
						<br>
						<br>
						<div class="pear-btn-group">
							<button class="pear-btn"> Button-One</button>
							<button class="pear-btn"> Button-Two</button>
							<button class="pear-btn"> Button-Three</button>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header">
						扩展进阶
					</div>
					<div class="layui-card-body">
						<button class="pear-btn pear-btn-primary" plain> Button-One</button>
						<button class="pear-btn pear-btn-success" plain> Button-Two</button>
						<button class="pear-btn pear-btn-danger" plain> Button-Three</button>
						<br>
						<br>
						<button class="pear-btn pear-btn-primary" round plain> Button-One</button>
						<button class="pear-btn pear-btn-success" round plain> Button-Two</button>
						<button class="pear-btn pear-btn-danger" round plain> Button-Three</button>
					</div>
				</div>
			</div>
		</div>



	</body>
</html>
