			body .layui-layer-orange .layui-layer-title{background:#ff9000; color:#FFFFFF; border: none;}
			body .layui-layer-orange .layui-layer-btn a{background:#ff9000;color:#FFFFFF;}
			body .layui-layer-orange .layui-layer-btn .layui-layer-btn1{background:#ff9000;}
			body .layui-layer-orange .layui-layer-btn .layui-layer-btn0{border: none;}