<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>更新日志</title>
		<link rel="stylesheet" href="../../component/layui/css/layui.css" media="all">
		<style>
			body {
				margin: 10px;
				background-color: lightgray;
			}
		</style>
	</head>
	<body>
		<div class="layui-card">
			<div class="layui-card-header"></div>
			<div class="layui-card-body">
				<ul class="layui-timeline">
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<h3 class="layui-timeline-title">2019年12月28日</h3>

							<ul>
								<li>1.多系统菜单模式</li>
								<li>2.新增主题切换</li>
								<li>3.引入DTree第三方组件</li>
								<li>4.可视化主题布局配置</li>
								<li>5.移动端兼容</li>
								<li>6.优化弹窗外观</li>
							</ul>
						</div>
					</li>
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<h3 class="layui-timeline-title">2019年12月14日</h3>

							<ul>
								<li>1.主题定义-多签页动态切换</li>
								<li>2.新增404页面</li>
								<li>3.引入下拉多选组件 formSelects</li>
								<li>4.新增卡片样式</li>
								<li>5.优化选项卡图标</li>
								<li>6.修复第三方组件引用路径</li>
							</ul>
						</div>
					</li>
					<li class="layui-timeline-item">
						<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
						<div class="layui-timeline-content layui-text">
							<h3 class="layui-timeline-title">2019年12月6日</h3>
							<ul>
								<li>Pear One 正式开源</li>
								<br />
								<li>希望是一个好东西，也许是最好的，好东西是不会消亡&nbsp;&nbsp;<i class="layui-icon layui-icon-release"></i></li>
							</ul>
						</div>
					</li>



				</ul>
			</div>
		</div>
	</body>
</html>
