.layui-table-tool-panel {
	margin-top: 10px !important;
}

.layui-table-tool {
	background-color: white !important;
	border-bottom: none !important;
	padding-bottom: 10px !important;
}

.layui-table-header,
.layui-table-header th {
	background-color: white !important;
}

.layui-table-view {
	border: none !important;
}

.layui-table-cell {
	height: 34px !important;
	line-height: 34px !important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
	border-radius: 50px !important;
	background-color: #5FB878 !important;
}

.layui-laypage-limits,
.layui-laypage-skip {
	display: none !important;
}

.layui-table tr {
	height: 34px !important;
	line-height: 34px !important;
}

.layui-table-cell {
	padding-top: 1px !important;
}

.layui-table-box * {
	font-size: 13px !important;
}

.layui-table-box button {
	font-size: 15px !important;
}

.layui-table-page {
	height: 45px !important;
	padding-top: 10px !important;
}

.layui-table-tool .layui-inline {
	border-radius: 3px !important;
	width: 30px !important;
	height: 30px !important;
	line-height: 20px !important;
}

.layui-table-view .layui-table[lay-skin=line] {
	border: none !important;
}
